# Rust
/target/

# Environment
.env
.env.local
.env.*.local

# IDE
.idea/
.vscode/
*.swp

# OS
.DS_Store
Thumbs.db

context
TO DO.md
last_execution
Charfile_load_testing
.claude/commands/*
ao_data_to_sql/Maps_load_testing/*
